<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form"  #loginForm="ngForm" novalidate>

    <ion-label position="stacked" color="medium">
      <span>username</span>
    </ion-label>
    <ion-item class="ion-margin-vertical" color="white" lines="none">
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-label position="stacked" color="medium">
      <span>password</span>
    </ion-label>
    <ion-item class="ion-margin-vertical" color="white" lines="none">
      <ion-input type="password" formControlName="password">
      </ion-input>
    </ion-item>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="6" size-md="6">
        <ion-button class="ion-margin-vertical" strong type="submit" expand="block">
          <span style="text-transform: none;">login</span>
        </ion-button>
      </ion-col>
    </ion-row>

    <div class="ion-text-center ion-margin-vertical">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-md="6" >
        <ion-button strong type="button" color="fb" expand="block">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          <span style="text-transform: none;">facebook</span>
        </ion-button>
      </ion-col>

      <ion-col size-xs="12" size-md="6">
        <ion-button strong type="button" color="google" expand="block">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          <span style="text-transform: none;">Google login</span>
        </ion-button>
      </ion-col>

    </ion-row>

    <div class="ion-margin-vertical">
      <ion-button strong type="button" expand="block" fill="clear" color="tertiary" (click)="onPresentSignUpModal()">
        No account yet , Create one
      </ion-button>

      <ion-button strong class="ion-text-lowercase" type="button" expand="block" fill="clear" color="dark"
        >
       forgot password
      </ion-button>
    </div>

  </form>

</ion-content> -->

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-label color="white" class="ion-margin ion-padding-start">
      Welcome
      <p>
        <ion-text color="white" class="ion-margin ion-padding-start">to eDelala</ion-text>
      </p>
    </ion-label>
  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">

  <ion-row>

    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button  (click)="signIn()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-list lines="full">
      <ion-list-header class="ion-margin">
        <ion-label>Get Started</ion-label>
      </ion-list-header>
      <ion-item-group class="ion-margin-horizontal ion-margin-bottom">
        <form [formGroup]="form">

          <div id="sign-in-button"></div>

          <div class="ion-margin-vertical">
            <ion-item>
              <ion-input 
                formControlName="phone" 
                placeholder="Mobile Number" 
                type="tel"
                minlength="10"
                maxlength="10">
              </ion-input>
            </ion-item>
            <ion-text *ngIf="!form.get('phone').valid && form.get('phone').touched">
              <ion-text class="error" *ngIf="form.get('phone').hasError('required')" color="danger">
                * Please enter the Mobile Number
              </ion-text>
              <ion-text class="error" *ngIf="form.get('phone').hasError('minlength') 
                && !form.get('phone').hasError('required')" color="danger">
                * Please enter a valid Mobile Number
              </ion-text>
            </ion-text>
          </div>

        </form>

      </ion-item-group>
    </ion-list>
  </ion-row>

</ion-footer>
