
ion-content {
//   --background: url('../../../../assets/img/ecomm1.png') no-repeat center center/cover;
  ion-grid {
      transform: translateY(10vh);
      ion-label, p {
          font-size: 1.8rem;
          font-weight: bold;
          letter-spacing: 0.8px;
      }
  }
}
.background-image {
    //background-size: auto 100%; /* Cover the entire height and adjust width automatically */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    width: 100%; /* Cover half of the screen horizontally */
    height: 50%; /* Cover the entire height of the container */
  }

ion-footer {
  ion-row {
      padding-top: 5vh;
      background: transparent;
      display: block;
      ion-fab-button {
          margin-right: 2.5vh;
      }
      ion-list {
          border-radius: 20px 20px 0 0;
          padding-bottom: 8vh;
          ion-list-header {
              ion-label {
                  font-weight: bold;
                  font-size: 1.8rem;
              }
          }
          ion-input, ion-text {
              font-size: 1rem;
              font-weight: bold;
          }

      .error {
          font-size: 0.75em !important;
      }
      }
  }
}
ion-toolbar {
    --background: var(--ion-color-primary); /* Use the primary color */
    height: 90px;
    border-bottom-right-radius: 20px; /* Adjust the border radius as needed */
    border-bottom-left-radius: 20px; /* Adjust the border radius as needed */
    border: none; /* Remove the border */
  }