<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Rentals</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="items">
    <div *ngFor="let item of items | async">
      <ion-row class="info-row">
        <ion-card mode="ios">
          <img [src]="item?.images[0]" alt=""  [routerLink]="['/rental/detail/', item?.id]" />
          <ion-card-header>
            <ion-card-title>{{item?.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="item-address">
              <ion-text>{{item.address}}</ion-text>
            </p>
            {{item?.desc}}
            <div class="price">{{item?.rentAmount}}</div>
            <ion-row class="item-tags">
              <ion-col class="tag-wrapper" *ngFor="let tag of item.tags">
                <span class="item-tag">
                  <ion-text>{{tag}}</ion-text>
                </span>
              </ion-col>
            </ion-row>

            <ion-col class="stats-col">
              <span class="item-rating">
                <app-text-shell [data]="item.likes"></app-text-shell>
              </span>
              <div class="item-price-range" slot="end">
                <span class="price" *ngFor="let price of [].constructor(item.priceRange)">$</span>
                <span class="no-price" *ngFor="let price of [].constructor(5 - (item.priceRange || 1))">$</span>
              </div>
            </ion-col>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="add" (click)="add()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>

