<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title><div>Rentals</div></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="items">
    <div>

      <ion-grid fixed>
        <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="6" size-md="4" *ngFor="let item of items | async">
        <ion-card tappable mode="ios">
          <div tappable  [routerLink]="['/rental/detail/', item?.id]" class="product-image" [style.background-image]="'url('+item?.images[0]+')'">
          </div>
          <ion-card-header>
            <ion-card-title>{{item?.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content tappable [routerLink]="['/rental/detail/', item?.id]">
            <p class="item-address">
              <ion-text>{{item.address}}</ion-text>
            </p>
            {{item?.desc}}
            <div class="price">{{item?.rentAmount}}</div>
            <ion-row class="item-tags">
              <ion-col class="tag-wrapper" *ngFor="let tag of item.tags">
                <span class="item-tag">
                  <ion-text>{{tag}}</ion-text>
                </span>
              </ion-col>
            </ion-row>
            <ion-col class="stats-col">
              <span class="item-rating">
                <app-text-shell [data]="item.likes"></app-text-shell>
              </span>
              <div class="item-price-range" slot="end">
                <span class="price" *ngFor="let price of [].constructor(item.priceRange)">$</span>
                <span class="no-price" *ngFor="let price of [].constructor(5 - (item.priceRange || 1))">$</span>
              </div>
            </ion-col>
          </ion-card-content>
        </ion-card>
        </ion-col>
      </ion-row>
      </ion-grid>
    </div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="add()">
      <ion-fab-button>
        <ion-icon name="add" (click)="add()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>

