
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title><div>profile</div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="user-content">
  <section class="heading toolbar-background">
    <ion-avatar>
      <img [src]="loginUser?.photo?.url() || 'assets/img/account.png'" alt="usr-img"/>
    </ion-avatar>
    <h5 class="bold" *ngIf="loginUser?.name">{{ loginUser?.name }}</h5>
    <h3 *ngIf=" !loginUser">
      GUEST
    </h3>
    <ion-button style="text-transform: none;" strong class="ion-margin-top"
      *ngIf="!loginUser" (click)="openModal()">
      Create Account or login
    </ion-button>
  </section>
  <div class="content-section user-languages-wrapper">
    <ion-row class="language-item-row">
      <ion-col class="language-item">
  <ion-list lines="none" mode="ios">

          <ion-item [routerLink]="['/settings']" >  
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>
              <p>Language</p>
            </ion-label>
          </ion-item>

          <ion-item detail>
            <ion-icon slot="start" name="color-fill-outline" detail></ion-icon>
            <ion-label>
              <p>Theme</p>
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/']">
            <ion-icon  slot="start"  name="heart-outline" detail></ion-icon>
            <ion-label>
              <p>Saved Items</p>
            </ion-label>
          </ion-item>

          <ion-item [routerLink]="['/settings']" >  
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>
              <p>Community</p>
            </ion-label>
          </ion-item>

          <ion-item [routerLink]="['/']">
            <ion-icon slot="start" name="pricetag-outline" detail></ion-icon>
            <ion-label>
              <p>Deals</p>
            </ion-label>
          </ion-item>

          <ion-item [routerLink]="['/']">
            <ion-icon slot="start"  name="notifications-outline" detail></ion-icon>
            <ion-label>
              <p>Notification</p>
            </ion-label>
          </ion-item>
      
          <ion-item [routerLink]="['/']"> 
            <ion-icon slot="start"  name="information-circle-outline" detail></ion-icon>
            <ion-label>
              <p>Support</p>
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/']">
            <ion-icon  slot ="start" name="bag-add-outline" detail></ion-icon>
            <ion-label>
              <p>Help Center</p>
            </ion-label>
          </ion-item>

          <ion-item [routerLink]="['/settings']" >  
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>
              <p>Terms & Services</p>
            </ion-label>
          </ion-item>

          <ion-item [routerLink]="['/setting/auth']">
            <ion-icon  slot ="start" name="log-out-outline" detail></ion-icon>
            <ion-label>
              <p>Logout</p>
            </ion-label>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
