ion-content {
    --background: url('../../../../assets/img/ecomm3.png') no-repeat center center/cover;
}

ion-footer {
    height: 100%;
    ion-list {
        height: 100%;
        border-radius: 20px 20px 0 0;
        ion-list-header {
            ion-label {
                font-weight: bold;
                font-size: 1.2em;
            }
        }
        ion-item {
            ion-label {
                font-size: 0.9rem;
                overflow: visible;
            }
        }
    }

}

/* Increase the height of input elements */
.otp {
    height: 60px; /* Set the desired height */
    line-height: 60px; /* Set the line height to center the text vertically */
    text-align: center; 
    font-weight: bold;
    border-radius: 6px;
    width: 45px;
    border: 1px solid #ccc;
    margin-right: 8px;
}
p{
    font-weight: bold;
}

.header{
        font-weight: bold;
        font-size: 1.2em;
    }