ion-content {
    --background: url('../../../../assets/img/ecomm3.png') no-repeat center center/cover;
}

ion-footer {
    height: 88%;
    ion-list {
        height: 100%;
        border-radius: 20px 20px 0 0;
        ion-list-header {
            ion-label {
                font-weight: bold;
                font-size: 1.8em;
            }
        }
        ion-item {
            ion-label {
                font-size: 0.9rem;
                overflow: visible;
            }
        }
    }

}
.otp {
    margin-right: 5px; /* Add margin-right to create a gap */
}

/* Increase the height of input elements */
.otp[type="text"] {
    height: 60px; /* Set the desired height */
    line-height: 60px; /* Set the line height to center the text vertically */
    text-align: center; 
    font-weight: bold;
}