<ion-header>
  <ion-toolbar>
    <ion-title>Rental Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="rentalForm" (ngSubmit)="submitForm()" class="form-container">
    <ion-item [class.invalid]="rentalForm.get('propertyType').invalid && rentalForm.get('propertyType').touched">
      <ion-label position="stacked">Property Type</ion-label>
      <ion-select formControlName="propertyType" placeholder="Select Property Type">
        <ion-select-option value="house">House</ion-select-option>
        <ion-select-option value="apartment">Apartment</ion-select-option>
        <ion-select-option value="villa">Villa</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="rentalForm.get('propertyType').invalid && rentalForm.get('propertyType').touched">
      <p *ngIf="rentalForm.get('propertyType').errors?.required">Property Type is required</p>
    </ion-text>

    <ion-item [class.invalid]="rentalForm.get('address').invalid && rentalForm.get('address').touched">
      <ion-label position="stacked">Address</ion-label>
      <ion-input formControlName="address" type="text" placeholder="Enter Address"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="rentalForm.get('address').invalid && rentalForm.get('address').touched">
      <p *ngIf="rentalForm.get('address').errors?.required">Address is required</p>
    </ion-text>

    <ion-item [class.invalid]="rentalForm.get('rentAmount').invalid && rentalForm.get('rentAmount').touched">
      <ion-label position="stacked">Rent Amount</ion-label>
      <ion-input formControlName="rentAmount" type="number" placeholder="Enter Rent Amount"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="rentalForm.get('rentAmount').invalid && rentalForm.get('rentAmount').touched">
      <p *ngIf="rentalForm.get('rentAmount').errors?.required">Rent Amount is required</p>
      <p *ngIf="rentalForm.get('rentAmount').errors?.pattern">Rent Amount must be a number</p>
    </ion-text>

    <ion-button type="submit" [disabled]="rentalForm.invalid" expand="block">Submit</ion-button>
  </form>
</ion-content>

