
// ion-content {
//   --background: url('../../../../assets/img/ecomm3.png') no-repeat center center/cover;
// }

.background-image {
  background-image: url('../../../../assets/img/ecomm3.png') no-repeat center center/cover; /* Path to your image */
  background-size: auto 100%; /* Cover the entire height and adjust width automatically */
  background-position: left; /* Align the background to the left */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  width: 100%; /* Cover half of the screen horizontally */
  height: 50%; /* Cover the entire height of the container */
}
ion-footer {
  height: 88%;
  ion-list {
      height: 100%;
      border-radius: 20px 20px 0 0;
  }

}

ion-checkbox {
  margin-right: 10px;
}

.input{
  font-weight: 300;
}
ion-item {
  --background: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 2px;
  margin-left: 20px;
  margin-right: 20px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-spinner {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
#user{
  font-size: 2em ;
  font-weight: 700;
}