<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/categories"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="user-content">
  <ion-row class="user-details">
    <ion-col class="ion-no-padding details-wrapper">
      <h2 class="user-name">
        <ion-skeleton-text data="user?.name"></ion-skeleton-text>
        <ion-icon name="checkmark-circle" color="bright-pink"></ion-icon>
      </h2>
      <span class="user-role">
        <ion-skeleton-text data="user?.role"></ion-skeleton-text>
      </span>
      <p class="user-description">
        <ion-skeleton-text lines="3" data="user?.description"></ion-skeleton-text>
      </p>
    </ion-col>
  </ion-row>
    <ion-col size="12">
      <ion-button class="sign-out-btn" expand="block" fill="outline" color="bright-blue" (click)="signOut()">Sign out</ion-button>
    </ion-col>
</ion-content>
