<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="./assets/img/logo-text.png" class="logo" />
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light">Help</ion-button>
      <ion-button fill="clear" color="light">Privacy</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scrollY="false">
  <div class="bg" #bg></div>
  <swiper
    #swiper
    [config]="config"
    class="my-swiper"
    id="introswiper"
    (sliderMove)="slidesMoved($event)"
    (slideChangeTransitionStart)="onSlideSnap($event)"
    (slideResetTransitionStart)="slideResetTransitionStart()"
  >
    <ng-template swiperSlide>
      <h1>Welcome to Edelala</h1>
      <p>
        Discover local events, nearby communities, and more in one convenient platform.
      </p>
    </ng-template>
    <ng-template swiperSlide *ngFor="let page of pages">
      <div class="intro-page"></div>
      <img [src]="page.img" />
      <h1>{{ page.title }}</h1>
      <p>{{page.text }}</p>
    </ng-template>
  </swiper>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-margin-bottom">
    <ion-button expand="full" color="primary" routerLink="/settings/signin"
      >SIGN IN</ion-button
    >
  </ion-toolbar>
</ion-footer>
