<ion-content [fullscreen]="true">
  <ion-button fill="clear" class="ion-margin" (click)="modalCtrl.dismiss()">
    <ion-icon name="arrow-back" slot="icon-only" color="white"></ion-icon>
  </ion-button>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-list lines="none">
    <ion-list-header class="ion-margin">
      <ion-label>lets capture your profile</ion-label>
    </ion-list-header>
  <form [formGroup]="form" #signUpForm="ngForm" #myForm="ngForm" novalidate>
    <ion-item>
       <ion-icon slot="start" [color]="isFieldValid(form.controls['name']) ? 'success' : 'medium'"
        [name]="isFieldValid(form.controls['name']) ? 'checkmark-circle' : 'close-circle'">
      </ion-icon> 
      <ion-input type="text"  class="input" formControlName="name" placeholder="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="light" [color]="isFieldValid(form.controls['username']) ? 'success' : 'medium'"
        [name]="isFieldValid(form.controls['username']) ? 'checkmark-circle' : 'close-circle'">
      </ion-icon>
      <ion-input class="input" type="text" formControlName="username" placeholder="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="light" [color]="isFieldValid(form.controls['email']) ? 'success' : 'medium'"
        [name]="isFieldValid(form.controls['email']) ? 'checkmark-circle' : 'close-circle'">
      </ion-icon>
      <ion-input type="email"  class="input" formControlName="email" placeholder="email">
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom item-checkbox" lines="none" style="--border-radius: 6px">
      <ion-label class="text-small ion-text-wrap">
         Agree with the
        <span class="custom-link">
          terms
        </span>
      </ion-label>
      <span class="relative" style="margin-right: 4px" slot="start">
        <ion-checkbox mode="md" slot="start" formControlName="terms">
        </ion-checkbox>
      </span>
    </ion-item>

    <div class="ion-text-center">
      <ion-button type="submit" strong style="width: 200px;">
        <span>Sign up</span>
      </ion-button>
    </div>
  </form>
</ion-list>
</ion-footer>
